In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [43]:
df = pd.read_csv('instagram_reach.csv')

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         100 non-null    int64
 1   S.No               100 non-null    int64
 2   USERNAME           100 non-null    object
 3   Caption            94 non-null     object
 4   Followers          100 non-null    int64
 5   Hashtags           100 non-null    object
 6   Time since posted  100 non-null    object
 7   Likes              100 non-null    int64
dtypes: int64(4), object(4)
memory usage: 6.4+ KB

In [45]:
df.isnull().sum()

Unnamed: 0           0
S.No                 0
USERNAME             0
Caption              6
Followers            0
Hashtags             0
Time since posted    0
Likes                0
dtype: int64

In [46]:
df.isna().sum()

Unnamed: 0           0
S.No                 0
USERNAME             0
Caption              6
Followers            0
Hashtags             0
Time since posted    0
Likes                0
dtype: int64

In [47]:
df.columns

Index(['Unnamed: 0', 'S.No', 'USERNAME', 'Caption', 'Followers', 'Hashtags',
       'Time since posted', 'Likes'],
      dtype='object')

In [48]:
#droppong unless columns
df1 = df.drop(['Unnamed: 0', 'S.No'], axis = 1)

In [49]:
df1.columns

Index(['USERNAME', 'Caption', 'Followers', 'Hashtags', 'Time since posted',
       'Likes'],
      dtype='object')

In [50]:
X = df1[['USERNAME', 'Caption', 'Followers', 'Hashtags']]
y_like = df1['Likes']
y_time = df['Time since posted']

In [51]:
from sklearn.model_selection import train_test_split

In [52]:
X_train, X_test, y_like_train, y_like_test, y_time_train, y_time_test = train_test_split(X, y_like, y_time, test_size = 0.2)

In [53]:
X_train.shape

(80, 4)

In [54]:
from sklearn.preprocessing import LabelEncoder

#create of instance of labelEncoder
label_encoder = LabelEncoder()

#fit and transform the categorical variable
X_train_encoded = X_train.copy()
X_test_encoder = X_test.copy()


for col in X_train.columns:
    X_train_encoded[col] = label_encoder.fit_transform(X_train[col])
    
for col in X_test.columns:
    X_test_encoder[col] = label_encoder.fit_transform(X_test[col])

In [55]:
X_train_encoded

    USERNAME  Caption  Followers  Hashtags
67        63       74         66        41
32        15        2         48        62
68        66       44         31         6
50        72       34         63        26
84        59       61         30        55
..       ...      ...        ...       ...
54        36       13         71        37
47         0        0         72        70
69        33       39         52        43
37         1       29         11        72
64         5       21          5        52

[80 rows x 4 columns]

In [56]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [57]:
lr = LinearRegression()
lr.fit(X_train_encoded, y_like_train)
likes_predection = lr.predict(X_test_encoder)

In [58]:
mse = mean_squared_error(y_like_test, likes_predection)
rmse = np.sqrt(mse)
r2 = r2_score(y_like_test, likes_predection)

print("Mean Square Error (MSE): ", mse)
print("Root Mean Square Error (RMSE): ", rmse)
print("R_square(R2): ", r2)

Mean Square Error (MSE):  8689.166705845255
Root Mean Square Error (RMSE):  93.21569988926359
R_square(R2):  -0.5070027204693237

Time Since Posted Prediction

In [59]:
#extract the numeric value form the "time" column
y_time_train = y_time_train.str.extract('(\d+)', expand = False).astype(int)

In [60]:
y_time_test = y_time_test.str.extract('(\d+)', expand = False).astype(int)

In [61]:
y_time_test

35     2
51     4
14     3
19     4
91     2
94     3
55    24
95     3
49     4
43     2
87     2
46     2
16     4
9      7
36     2
97     3
38     2
3      3
61     3
15     3
Name: Time since posted, dtype: int32

In [62]:
lr = LinearRegression()
lr.fit(X_train_encoded, y_time_train)
posted_time_prediction = lr.predict(X_test_encoder)

In [63]:
mes = mean_squared_error(y_time_test, posted_time_prediction)
rmes = np.sqrt(mse)
r2 = r2_score(y_time_test, posted_time_prediction)

print("Mean Squared Error(MSE): ", mes)
print("Root Mean Square Error(RMSE): ", rmse)
print("R-Squared (R2): ", r2)

Mean Squared Error(MSE):  24.946565893685687
Root Mean Square Error(RMSE):  93.21569988926359
R-Squared (R2):  -0.12422559232472685